include LICENSES
include README.rst
global-exclude *.orig *.pyc *.log *.swp

recursive-include separate_users/templates *
recursive-include separate_users/static *
recursive-include separate_users/locale *
